---
---
@import "sass-code-highlight/github.scss";

$max-width: 740px;
$accent: #84a9d3; //#0eb077;
$accentlight: rgba(101, 207, 181, 0.3);

// Some CSS taken from https://www.xuningyang.com/
// basic 
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "Inconsolata", sans-serif;
  height: 100%;
  line-height: 0.7em;
  font-size: medium;
  font-weight: 300;
  letter-spacing: 300;
  text-shadow: 0 0 1px rgba(58, 57, 57, 0.25);
}

a {
  text-decoration: none;
  color: $accent;
}

i {
  text-decoration: none;
  color: $accent;
}

a:hover {
  text-decoration: none;
  color: $accentlight;
  text-shadow: 0 0 1px rgba(30, 138, 100, 0.3);
}

hr {
  border: none;
  margin: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h3 {
  padding: 1em 0 0 0;
  line-height: 0em;
}

h4 {
  padding: 1em 0 0 0;
  line-height: 0em;
}

// div classes
.container {
  max-width: $max-width;
  margin: auto;
  flex-direction: column;
}

.alignable {
  display: inline-block;
}

.pull-left {
  @extend .alignable;
  float: left;
}

.pull-right {
  @extend .alignable;
  float: right;
}

// pages

.page-title {
  text-align: center;
  font-size: xx-large;
  line-height: 2;
}

.page-subtitle {
  text-align: center;
}

// navigation
#site-title {
  font-size: 25px;
  // color: #272727;
  text-shadow: 0 0 3px rgba(58, 57, 57, 0.25);
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin: 0px
}

#site-title:hover {
  color: $accent;
}

.navbar {
  padding: 50px 0 40px 0;
}

.navbar-ul {
  display: inline-block;
  margin: 0;
  padding: 0px 0 0px 0;
  margin-left: 20px;
}

.navbar-list {
  list-style-type: none;
  margin: 0 5px 0 10px;
  font-size: large;
}



// footer

.centered {
  text-align: center;
}

#footer-icon {
  padding-bottom: 10px;
}

//blog page
.post-title {
  max-width: 500px;
  display: inline-block;
  font-size: 25px;
  line-height: 1.2;
  margin-top: 10px // this must match the one in .post-details
}

.post-details {
  @extend .pull-right;
  text-align: right;
  margin-left: 20px;
  margin-top: 10px
}

.post-snippet {
  max-width: 500px;
  margin-top: 10px
}